body {
    margin: 0;
}
html.sidebar-collapsed #sidebar {
    width: 66px !important;
}

html.sidebar-collapsed #header {
    left: 100px !important;
    width: calc(100% - 166px) !important;
}

html.sidebar-collapsed #content {
    margin-left: 100px !important;
}

html.sidebar-collapsed .sidebar .menu-span {
    display: none !important;
}

html.sidebar-collapsed .icon-wrapper {
    margin: 0 auto;
}

html.sidebar-collapsed .badge-text {
    display: none !important;
}

html.sidebar-collapsed .badge-icon {
    display: inline-block !important;
}
.icon-wrapper {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.icon-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}
.header {
    position: fixed;
    top: 0;
    left: 295px;
    width: calc(100% - 295px);
    height: 77px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:linear-gradient(119deg, rgba(196, 41, 41, 0.01) -20.04%, rgba(251, 176, 59, 0.01) 120.36%), #FFF;
    z-index: 1000;
    transition: width 0.3s, left 0.3s;
    border-bottom: none;
}

.header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 0;
    height: 1px;
    background-color: #2B2B2B33;
}

.header .nav-link {
    color: #666;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
}


.header .nav-link.active {
    color: #2B2B2B80;
    font-size: 18px;
    font-weight: bold;
}
.header .nav-link:hover {
    background-color: rgba(251, 176, 59, 0.2);
}
.profile {
    display: flex;
    align-items: center;
}
.name-user {
    margin: 0;
    padding: 0;
}
.profile-name {
    align-content: center!important;
}
.profile-img {
    width: 32px;
    height: 32px;
    background-color: #6c757d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    margin-right: 8px;
}

.dropdown-menu {
    min-width: 150px;
}

.sidebar {
    width: 280px;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s;
    box-shadow: 0px 1px 16px 16px rgba(251, 176, 59, 0.12);
}
@media (max-height: 768px) {
    .sidebar {
        overflow-y: auto;
    }
}
.burger {
    font-size: 1.5rem;
    padding: 10px 20px;
    cursor: pointer;
    color: #666;
}
.logo {
    font-size: 1.5rem;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2B2B2B33;
}
.logo span {
    background-color: #d32f2f;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}
.sidebar .nav-link {
    color: #666 !important;
    padding: 12px 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 1px 0;
    gap: 12px; /* щоб був відступ між іконкою і текстом */
}
.nav {
    flex-wrap: nowrap!important;
}
.menu-span {
    position: relative;
    display: inline-block;
}

.badge-circle {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 4px;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    z-index: 1;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.badge-icon {
    position: absolute;
    top: -5px;
    right: -5px;
}

.badge-text {
    position: absolute;
    top: -2px;
    left: 100%;
    margin-left: 4px;
}

.active-badge {
    background-color: white;
    color: black;
}
.sidebar .nav-link i {
    margin-right: 12px;
    color: #666;
}
.sidebar .active {
    background-color: #d32f2f;
    color: #fff !important;
}
.sidebar .active i {
    color: #fff !important;
}
.collapsed {
    width: 70px;
}

.collapsed .logo span {
    display: none;
}

.collapsed .logo {
    display:flex;
    justify-content: center;
    align-items: center;
}
.collapsed .logo .logo__image {
    display: none;
}
.content {
    margin-left: 295px;
    padding: 80px 20px 20px 20px;
    transition: margin-left 0.3s;
    background:linear-gradient(119deg, rgba(196, 41, 41, 0.01) -20.04%, rgba(251, 176, 59, 0.01) 120.36%), #FFF;
    min-height: 100vh;
}
.badge-icon {
    display: none;
}
.title-header {
    margin-bottom: 0!important;
    color: #2B2B2B80!important;
    font-size: 18px!important;
    font-weight: 600!important;
}